@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@400;500&family=Neonderthaw&family=Noto+Serif:ital,wght@0,300;1,400&family=PT+Sans&family=Quicksand:wght@300;400;500&family=REM:ital,wght@0,400;1,300&family=Roboto+Mono:wght@300&family=Rubik:wght@300&family=Spectral:ital,wght@1,200&display=swap');


html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: black;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  .container {
    background-color: black; 
    justify-content: center;
    align-items: center;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .items-centre {
    align-items: center;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .button {
  
    background-color: rgb(92, 208, 216);
    width: 66px;
    font-size: 26px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 27%;
  }
  .buttony {
   
    display: inline-block;
    padding: 15px 30px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    background-color:white; 
    color: black; 
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.buttony:hover{
  background-color:yellow;
}
  
  
  .row {
    margin: 8px 0
  }
  
  .row input {
  
    margin: 0px;
    font-size:1rem;
    padding: 16px 50px;
    border: 2px solid black;
    border-radius: 5px;
  }
 
